<%- include('header') %>
<header>
    Account balances for <%= username %>
</header>
<table>
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Balance</th>
        </tr>
    </thead>
    <% for (const account of accounts) { %>
        <tr>
            <td><%= account.id %></td>
            <td>$<%= account.balance %></td>
        </tr>
    <% } %>
</table>
<%- include('footer') %>
